/in/intervals/*
/in/objects/*
/in/routes_and_stops/*
/out/alternative_routes/*
/out/isochrones/public_transport/*.csv
/out/isochrones/public_transport/tmp/*
/out/isochrones/geojson/*.geojson
/out/isochrones/*.csv
/out/metrics/tmp/*
/out/metrics/*.csv
/out/route2stops/*
/out/routes/csv/*
/out/routes/geojson/*
/out/routes/mbtiles/*
/out/station_neighbors/*
/out/stations/csv/*
/out/stations/geojson/*
/out/stations/mbtiles/*
/out/density/*
!.keep

**/__pycache__/